<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaodim.messenger">
    <application
         >
        <activity
            android:name=".activities.ConversationsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".activities.ChatActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.ConversationsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ConversationsActivity" />
        </activity>
        <activity
            android:name=".activities.PreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity android:name=".activities.ImageViewerActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/ImageViewTheme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <receiver
            android:name=".recievers.MessageReciever"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.verivo.examples.pushandalerttests" />
            </intent-filter>
        </receiver>
        </application>
</manifest>

